<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BHEdSuite">

	<listeners>
		<listener class-name="com.BHEd.Listeners.TestListener" />

	</listeners>


	<test name="ScenarioTesting">
	
    <classes>
    
    		<class name="com.BHEd.Tests.MobileNoComparison" />
							      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
